version: "3.8"

services:
  your_service_name:
    build:
      context: /path/to/directory/of/Dockerfile
      dockerfile: /path/to/Dockerfile
    image: username_image_name:version
    container_name: username_containername
    privileged: true
    network_mode: "host"
    shm_size: "24G"
    environment:
      - DISPLAY=${DISPLAY}
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    user: "UID:2102" # Use your host user
    volumes:
      - ${HOME}:/home/workspace/username
      - /tmp/.X11-unix:/tmp/.X11-unix
      - $HOME/.Xauthority:/home/username/.Xauthority:rw
      - /etc/resolv.conf:/etc/resolv.conf
      - /dsi:/dsi
    deploy:
      resources:
        reservations:
          devices:
            - driver: nvidia
              capabilities: [ gpu ]
    stdin_open: true
    tty: true
